body{
    background-image:url(https://media.istockphoto.com/id/1360927961/photo/abstract-background-with-interweaving-of-colored-lines-and-dots-network-connection-structure.jpg?s=612x612&w=0&k=20&c=UTu0m3kCMm6f1kien9TNCrFtliESKUMrAeyKkI5s56I=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
p{
    color: white;
}
body{
    color:white;
}